[run]
# relative_files = True is necessary as per documentation of
# https://github.com/AndreMiras/coveralls-python-action
relative_files = True
omit =
    # omit this single file
    particle/particle/convert.py
    particle/__main__.py
