
repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
    args: ['--maxkb=1000']
  - id: mixed-line-ending
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: check-case-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: requirements-txt-fixer
  - id: debug-statements
  - id: end-of-file-fixer
  - id: fix-encoding-pragma

- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
  - id: isort

- repo: https://github.com/psf/black
  rev: 21.10b0
  hooks:
  - id: black-jupyter

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v1.19.0
  hooks:
  - id: setup-cfg-fmt
    args: [--max-py-version=3.10, --min-py3-version=3.5]

- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.0
  hooks:
  - id: pyupgrade

- repo: https://github.com/mgedmin/check-manifest
  rev: "0.47"
  hooks:
  - id: check-manifest
    stages: [manual]

- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.910-1
  hooks:
  - id: mypy
    files: src
    additional_dependencies: [attrs==19.3.0, types-deprecated]

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    exclude: ^(src/particle/data/nuclei2020.csv|src/particle/data/mass_width_2008.fwf)$
