ci:
  autoupdate_commit_msg: "chore(deps): update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
    args: ['--maxkb=1000']
  - id: mixed-line-ending
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: check-case-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: requirements-txt-fixer
  - id: debug-statements
  - id: end-of-file-fixer

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black-jupyter

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: "v0.0.257"
  hooks:
    - id: ruff
      args: ["--fix", "--show-fixes"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.1.1
  hooks:
  - id: mypy
    files: src
    additional_dependencies: [attrs==21.4.0, hepunits>=2.2.0, importlib_resources, types-deprecated]
    args: [--show-error-codes]

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    exclude: ^(src/particle/data/.*\.csv|src/particle/data/.*\.fwf)$
    args: ["-L", "Lamda,lamda"]

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
